<!DOCTYPE html>
<html>
<head>
<title>QuikDecision</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
    .extra {
        font-size: 80%;
        color: #888;
    }
    #strings {
        font-size: 80%;
    };
    .card-body div.answer {
        border: 1 black solid
    }
    .card-title {
        margin-bottom: 0
    }
    ul.tab-ctrl {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    ul.tab-ctrl .btn {
        width: 100%;
    }
    button.btn-sm {
        padding: 0.1em;
    }
    div.help {
        clear: both;
        margin-top: 2em;
        color: #888;
    }
    footer {
        font-size: 75%;
        color: #888;
    }
    #oracle .answer .label {
        display: none;
    }
    #oracle .answer .value {
        font-size: 125%;
    }
    .button-text {
        display: none;
        font-size: 75%;
    }
    .button-img {
        width: 48px;
        height: 48px;
    }
</style>
</head>
<body>
<div class="container-fluid">
    <div class="header text-primary mb-4">
        <h2>QuikDecision</h2>
    </div>
    <div id="error" class="alert alert-danger">Error: <span class="msg"> </span></div>
    <div class="row no-gutters">
        <div class="offset-1 col-2">
            <ul class="tab-ctrl float-right">
            <li><button class="btn float-right btn-outline-info" type="button" data-toggle="collapse" data-target="#collapseCoin" aria-expanded="true" aria-controls="collapseCoin">
                <img src="/static/noun_Coins_1485554.svg" class="button-img" alt="Flip a Coin"/>
                <span class="button-text">Flip a Coin</span>
            </button></li>
            <li><button class="btn float-right btn-outline-info" type="button" data-toggle="collapse" data-target="#collapseDice" aria-expanded="true" aria-controls="collapseDice">
                <img src="/static/noun_Dice_1765632.svg" class="button-img" alt="Roll the Dice"/>
                <span class="button-text">Roll the Dice</span>
            </button></li>
            <li><button class="btn float-right btn-outline-info" type="button" data-toggle="collapse" data-target="#collapseOracle" aria-expanded="true" aria-controls="collapseOracle">
                <img src="/static/noun_oracle_139375.svg" class="button-img" alt="Ask the Oracle"/>
                <span class="button-text">Ask the Oracle</span>
            </button></li>
            <li><button class="btn float-right btn-outline-info" type="button" data-toggle="collapse" data-target="#collapseLikely" aria-expanded="true" aria-controls="collapseLikely">
                <img src="/static/noun_Percent_625396.svg" class="button-img" alt="Percent Likely"/>
                <span class="button-text">Percent Likely</span>
            </button></li>
            <li><button class="btn float-right btn-outline-info" type="button" data-toggle="collapse" data-target="#collapsePick" aria-expanded="true" aria-controls="collapsePick">
                <img src="/static/noun_Number_1576875.svg" class="button-img" alt="Pick a Number"/>
                <span class="button-text">Pick a Number</span>
            </button></li>
            <li><button class="btn float-right btn-outline-info" type="button" data-toggle="collapse" data-target="#collapseSelect" aria-expanded="true" aria-controls="collapseSelect">
                <img src="/static/noun_text_957716.svg" class="button-img" alt="Select a String"/>
                <span class="button-text">Select a String</span>
            </button></li>
            </ul>
        </div>
        <div class="col-8" id="deciders">
            <div id="collapseCoin" class="collapse show" data-parent="#deciders">
                <div id="coin" class="card">
                    <div class="card-header"><h5 class="card-title">Flip a Coin</h5></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col col-lg-3">
                                <form method="GET" action="/flip">
                                    <button class="decide btn btn-outline-primary btn-sm" name="flip" type="button">Flip</button>
                                </form>
                            </div>
                            <div class="col col-lg-9 answer"> <span class="value"> </span> </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                            <button class="btn float-right btn-outline-secondary btn-sm" data-toggle="collapse" data-target="#coinHelp">?</button>
                            <div id="coinHelp" class="collapse help">
                                Returns one of the two strings <em>Heads</em> or <em>Tails</em>. There is an equal probability of returning either one.
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="collapseDice" class="collapse" data-parent="#deciders">
                <div id="dice" class="card">
                    <div class="card-header"><h5 class="card-title">Roll the Dice</h5></div> <div class="card-body">
                        <div class="row">
                            <div class="col col-lg-3">
                            <form method="GET" action="/roll">
                                <label for="expr">Dice Expression:</label> <input id="expr" name="expr" type="text" width="100" value="1d6"/><br />
                                <button class="decide btn btn-outline-primary btn-sm" name="roll" type="button">Roll</button>
                            </form>
                            </div>
                            <div class="col col-lg-9 answer">Value: <span class="value"> </span><br />
                                Roll: <span class="extra"> </span></div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                            <button class="btn float-right btn-outline-secondary btn-sm" data-toggle="collapse" data-target="#diceHelp">?</button>
                            <div id="diceHelp" class="collapse help">
                                <p>Roll the described combination of dice, returning a number and description of the
                                roll. The <em>dice expr</em> is a combination of terms of one of three forms joined by <code>+</code>:</p>
                                <ul>
                                    <li>{n}d{s}: roll n s-sided dice (3d6)</li>
                                    <li>{n}x{s}: roll n s-sided exploding dice (2x8)</li>
                                    <li>{n}: an increment.</li>
                                </ul>
                                <p>The number of sides supported are 4, 6, 8, 10, 12, 20, or 100. Exploding dice
            work much like normal, except when a die rolls the maximum value for the die,
            then it is re-rolled to generate a value to add to the original roll. This may
            happen more than once.</p>
                                <p>The return is the sum of all of the rolls followed by a string representing the
                                individual rolls.</p>
                            <p>Normal dice are represented by the expression, followed by the results of the
                            individual die rolls in parens: <code>3d6(3+5+1)</code>.</p>
                            <p>Exploding dice are represented by the dice expression followed by an expression
            in angle brackets. The expression is made of the results of each individual die
            in parens, with any die that exploded being followed by an <code>!</code>, and the re-roll
            added as needed: <code>3x6&lt;(1)+(6!+5)+(2)&gt;</code>.</p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="collapseOracle" class="collapse" data-parent="#deciders">
                <div id="oracle" class="card">
                    <div class="card-header"><h5 class="card-title">Ask the Oracle</h5></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col col-lg-3">
                                <form method="GET" action="/oracle">
                                    <button class="decide btn btn-outline-primary btn-sm" name="ask" type="button">Ask</button>
                                </form>
                            </div>
                            <div class="col col-lg-9 answer">
                                <span class="label"> </span>
                                <span class="value"> </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                            <button class="btn float-right btn-outline-secondary btn-sm" data-toggle="collapse" data-target="#oracleHelp">?</button>
                            <div id="oracleHelp" class="collapse help">
                                This command returns a string randomly selected from the Oracle's set of
            9 positive answers, 9 negative answers, or 6 indeterminate answers.
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="collapseLikely" class="collapse" data-parent="#deciders">
                <div id="likely" class="card">
                    <div class="card-header"><h5 class="card-title">Percent Likely</h5></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col col-lg-3">
                                <form method="GET" action="/likely">
                                    <label for="percent">Percent:</label> <input id="percent" name="percent" type="number" min="1" max="99" value="50"/><br />
                                    <button class="decide btn btn-outline-primary btn-sm" name="guess" type="button">Guess</button>
                                </form>
                            </div>
                            <div class="col col-lg-9 answer"><span class="value"> </span></div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                            <button class="btn float-right btn-outline-secondary btn-sm" data-toggle="collapse" data-target="#likelyHelp">?</button>
                            <div id="likelyHelp" class="collapse help">
                                Treats the supplied integer as a percentage and returns <code>true</code>
                                that percent of the time. Otherwise, return <code>false</code>.
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="collapsePick" class="collapse" data-parent="#deciders">
                <div id="pick" class="card">
                    <div class="card-header"><h5 class="card-title">Pick a Number</h5></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col col-md-3">
                                <form method="GET" action="/pick">
                                    <label for="low">Low:</label> <input id="low" name="low" type="number" value="1"/><br />
                                    <label for="high">High:</label> <input id="high" name="high" type="number" value="10"/><br />
                                    <button class="decide btn btn-outline-primary btn-sm" name="pick" type="button">Pick</button>
                                </form>
                            </div>
                            <div class="col col-md-9 answer"><span class="value"> </span></div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                            <button class="btn float-right btn-outline-secondary btn-sm" data-toggle="collapse" data-target="#pickHelp">?</button>
                            <div id="pickHelp" class="collapse help">
                                Selects a number between two supplied integers (inclusive) with equal probability.
            The two numbers cannot be the same.
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="collapseSelect" class="collapse" data-parent="#deciders">
                <div id="select" class="card">
                    <div class="card-header"><h5 class="card-title">Select a String</h5></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col col-lg-3">
                                <form method="GET" action="/select">
                                    <label for="strings">Strings, one per line:</label><br />
                                    <textarea cols="30" rows="5" id="strings" name="string"></textarea><br />
                                    <button class="decide btn btn-outline-primary btn-sm" name="select" type="button">Select</button>
                                </form>
                            </div>
                            <div class="col col-lg-9 answer"><span class="value"> </span></div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                            <button class="btn float-right btn-outline-secondary btn-sm" data-toggle="collapse" data-target="#selectHelp">?</button>
                            <div id="selectHelp" class="collapse help">
                                Selects one of the supplied strings with equal probability. There must be
            at least two strings to choose between. The strings should be entered one per line.
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- deciders -->
    </div> <!-- row -->
</div> <!-- container -->
<footer id="colophon" role="contentinfo" class="fixed-bottom ml-5 mb-3>
    <div class="site-info">
        <div class="footercopy">Copyright 2018, G. Wade Johnson. Licensed under Creative Commons Attribution License 2.5.</div>
        <!--    <div class="footercredit"><a href="/privacy-policy" target="_blank" rel="noopener">Privacy Policy</a></div> -->
        <div class="clear"></div>
    </div><!-- .site-info -->
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
function make_decision(id, data) {
    let form = $(id +" form");
    $.ajax({
        url: form.attr("action"),
        data: data || form.serialize(),
        type: "GET",
        dataType: "json"
    })
    .done(function(json) {
        if(json.error)
        {
            $("#error").show();
            $("#error .msg").text(json.error);
        }
        else
        {
            $("#error").hide();
            $(id + " .answer").fadeOut(400);
            $(id + " .answer").fadeIn({
                duration: 400,
                start: function() {
                    for(fld in json)
                    {
                        $(id + " ." + fld).text( json[fld] );
                    }
                },
            });
        }
    })
    .fail(function(xhr, status, errorThrown) {
        console.log( "Error: " + errorThrown );
        console.log( "Status: " + status );
        $("#error .msg").text("JSON request failure");
        $("#error").show();
    })
}
$(document).on("keypress", ":input:not(textarea)", function(event) {
    if (event.keyCode == 13) {
        event.preventDefault();
    }
});
$( document ).ready(function() {
    $("#error").hide();
    $(".answer").hide();
    $("#coin button.decide").click(function(event) {
        make_decision("#coin", {});
    });
    $("#dice button.decide").click(function(event) {
        make_decision("#dice");
    });
    $("#oracle button.decide").click(function(event) {
        make_decision("#oracle");
    });
    $("#likely button.decide").click(function(event) {
        make_decision("#likely");
    });
    $("#pick button.decide").click(function(event) {
        make_decision("#pick");
    });
    $("#select button.decide").click(function(event) {
        let val = $("#strings").val().replace(/\n/g, ",");
        make_decision("#select", { strings: val });
    });
});
</script>
</body>
</html>
